.header {
  padding: 2rem;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.homeLink a {
  text-decoration: none;
  color: inherit;
}

.menus {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.menus ul {
  list-style: none;
}
